#home-main-container {
    width: 500px;
    height: 200px;
    background-color: aqua;
    /* box-shadow: 1px 1px 3px 3px #888888; */
    margin: 80px auto;
}

#home-head {
    width: 250px;
    margin: 0 auto;
    padding-top: 30px;
}

#home-content {
    margin-left: auto;
    width: 370px;
}

.link {
    margin-right: 10px !important;
}


