#about-main-container {
    width: 500px;
    height: 200px;
    background-color: aqua;
    box-shadow: 5px 5px 8px 10px #888888;
    margin: 80px auto;
}

#about-header {
    text-align: center;
    padding-top: 30px;
}

#about-text {
    text-align: center;
}

#return-link-about {
    text-align: center;
    font-size: 15px;
}